.nav-item {
    display: flex;
    flex-direction: row;
}

.logo-mail {
    color: #5b4295;
    font-family: Titillium Web Bold;
}

.logo-neutron {
    color: #858688;
    font-family: Titillium Web Bold;
}

.interface-menu a {
    color: #858688;
    text-decoration: none;
}

.interface-menu {
    color: #858688;
}

.interface-menu a .selected {
    font-weight: bold;
    text-decoration: underline;
}

header {
    background-image: url(../NeutronMail/assets/images/header-background.png)
}

@font-face {
    font-family: Titillium Web Bold;
    src: url(../NeutronMail/assets/fonts/TitilliumWeb-Bold.ttf);
}